<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

<!-- 		测试数据库，大家都连向同一台数据库 -->
<!--         <property name="connection.url"> jdbc:mysql://192.168.2.216:3306/duomeiti?autoReconnect=true&amp;autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=utf8</property> -->
        
<!-- 		部署的服务器使用本地数据库 -->     
        
<!--         <property name="connection.url"> jdbc:mysql://localhost:3306/duomeiti?autoReconnect=true&amp;autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=utf8</property> -->
	
	
	
	
	
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
<!--         <property name="format_sql">true</property> -->
        
<!--         <property name="connection.autocommit">true</property> -->

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
<!--         <property name="hbm2ddl.auto">create-drop</property> -->
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
 		
		
<!-- 		<mapping class="model.ChooseClassSwitch"/> -->
		
		
    </session-factory>
</hibernate-configuration>